:root {
  --header-height: 0px;
}


body{
  margin: 12px;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #c2deec;
  color: #000;
}

.app-container{
  padding-top: 65px;
  grid-template-columns: 1fr;
  max-width: 1600px;
  margin: 0 0 auto;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #88ccee;
  border-bottom: 1px solid #c2deec;
  z-index: 1000;
}

.burger-menu {
  display: inline-block;
  position: relative;
  background-color: transparent;
  color: #0F4C81;
  font-size: 32px;
  cursor: pointer;
  border: none;
  width: 40px; 
  height: 40px;
}

.burger-menu .bars-icon,
.burger-menu .arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center them perfectly */
  transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.bars-icon.fade-in {
  opacity: 1;
}

.bars-icon.fade-out {
  opacity: 0;
}

.arrow-icon.fade-in {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg); /* Default position */
}

.arrow-icon.fade-out {
  opacity: 0;
}

.arrow-icon.rotate {
  transform: translate(-50%, -50%) rotate(180deg);
}

.sidebar {
  position: fixed;
  top: var(--header-height);
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: #0F4C81;
  color: #ecf0f1;
  overflow-x: hidden;
  transition: left 0.3s;
  z-index: 100;
  padding-top: 20px;
}

.sidebar.open {
  left: 0;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.category-list li:hover,
.category-list li.active {
  background-color: #88ccee;
}

.category-list li.active {
  color: #000;
}

.add-note-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.add-note-button {
  padding: 10px;
  font-size: 32px;
  background-color: #0F4C81;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.3s ease,  opacity 0.3s ease;
  margin-bottom: 15px;
  margin-left: 15px;
}

.add-note-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.add-note-button:hover {
  background-color: #88CCEE;
  transform: scale(1.1);
}

.search-bar input {
  width: 200px;
  padding: 5px;
  margin-right: 20px;
  border: 1px solid black;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.category-dropdown {
  width: auto;
  padding: 5px;
  border: 1px solid black;
  font-size: 16px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #88CCEE;
  color: #000;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
}

.remove-tag-btn {
  background-color: #88CCEE !important;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.remove-tag-btn:hover {
  color: #ff6f61;
}

.tags-input {
  width: auto;
  padding: 5px;
  border: 1px solid black;
  font-size: 16px;
}

.note-tag {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #88CCEE;
  color: #000;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px 5px 10px 0;
  font-size: 14px;
}

.note-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.notes-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-left: 10px;
  gap: 20px;
}

.note-item{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px
    rgba(0, 0, 0, 0.1);
  cursor: pointer;
  word-break: break-word;
  height: 300px;
  overflow: hidden;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-header-buttons {
  font-size: 16px;
  display: flex;
  gap: 15px;
}

.notes-header button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  max-width: fit-content;
  transition: transform 0.3s ease;
}

.delete-note:hover {
  color: #ff6f61;
  transform: scale(1.2);
}

.pin {
  color: #000;
  transition: transform 0.3s ease;
}

.pin:hover {
  color: #0F4C81;
  transform: scale(1.1);
}

h2{
  margin: 0;
  font-size: 21px;
}

.note-form{
  flex: 1;
  display: none;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.3s ease;
}

.note-form.visible {
  display: flex;
  opacity: 1;
}

textarea,
input{
  background-color: white;
  resize: none;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.textarea-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.textarea-container textarea {
  width: 100%;
  box-sizing: border-box;
}

.textarea-container .mic-button {
  background-color: transparent;
  position: absolute;
  margin-right: 12px;
  bottom: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .note-content {
  white-space: pre-wrap;
  font-size: 16px;
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 10px;
 }
 
 form .mic-button .fa-microphone {
   font-size: 18px;
   color: #000;
 }

 .textarea-container .transcription-feedback {
  position: absolute;
  bottom: 80px;
  right: 55px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #000;
  transition: color 0.5s ease;
 }

.note-form button{
  border-radius: 5px;
  background-color: #0F4C81;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.note-form button:hover{
  background-color: #88ccee;
  cursor: pointer;
}

.edit-buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.edit-buttons button{
  flex: 1;
}

.edit-buttons button:last-of-type{
  background-color: #ff6f61;
  color: white;
}

.edit-buttons button:last-of-type:hover{
  background-color: rgb(148, 34, 34);
  color: white;
}

.note-footer {
  font-size: 11px;
  color: #666;
  margin-top: 10px;
  text-align: left;
}


/********************************************************************/
/* Mobile */


@media (min-width: 600px){
  .app-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
  }
}