body{
  margin: 20px;
  background-color: #dbd9d9;
}

.app-container{
  grid-template-columns: 1fr;
}

.notes-grid{
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  );
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
}

.notes-item{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: #fcba50;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}



/*-----------------------Website Responsiveness-----------------------*/
@media (min-width: 600px){
  .app-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
  }
}